html {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
}

#logo {
    color: $dark_red;
}

#welcome {
    margin-top: 1rem;
    margin-right: 4rem;
    font-size: 1.8rem;
}

/* Style the navbar */

#navbar {
    overflow: hidden;
    background-color: $dark_red;
    text-transform: uppercase;
    text-align: right;
}

/* Navbar links */

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: 800ms;
}

/* Page content */

.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

#navbar a:hover,
#navbar a:focus {
    background-color: #f0997e;
    color: #232323;
}

h1 {
    color: white;
    font-size: 3.5rem;
}

h2 {
    background-color: $primary;
    color: white;
    padding-left: 10px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.red h4 {
    background-color: $primary;
    color: white;
    border-radius: 3px;
    padding: 2px;
}

.jumbotron {
    padding-top: 8vw;
    padding-right: 1rem;
    padding-bottom: 16vw;
    padding-left: 1rem;
    background-image: url('../img/jumbotron-background5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: solid black 1px;
}

.transbox {
    margin: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: solid black 1px;
}

.transbox h1,
.transbox h4 {
    margin: 5%;
    color: black;
}

.center {
    margin: auto;
}

.light_gray {
    background-color: $light_gray;
    padding: 2rem;
    border-radius: 3px;
}

.light_gray_clr {
    background-color: $light_gray;
}

.my_blue {
    background-color: $my_blue;
    padding: 2rem;
    border-radius: 3px;
}

#my_progress {
    width: 100%;
    padding: 5px;
    background-color: $light_gray;
    border-radius: 3px;
}

.bar {
    width: 0%;
    height: 1.8rem;
    background-color: $my_blue;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    color: rgb(74, 68, 116);
    padding-left: 10px;
}

#portfolio .btn {
    background-color: $dark_red;
    color: #f2f2f2;
    transition: 800ms;
}

#portfolio .btn:hover {
    background-color: $my_pink;
    color: #232323;
}

#portfolio .badge {
    background-color: $dark_red;
    color: #f2f2f2;
}

#portfolio h6 {
    text-transform: uppercase;
}

#portfolio img {
    transition: all 0.4s cubic-bezier(.48,-0.44,.55,.95);
}

#portfolio img:hover {
    transform: scale(1.1);
}

.card-title {
    text-transform: uppercase;
}

img {
    border-radius: 3px;
}

#about img {
    margin: 4 em;
}

#about a {
    color: $primary;
    text-decoration: none;
}

#about a:hover {
    text-decoration: none;
    color: $my_pink;
}

//contacts is a section just for favicons
#contacts {
    font-size: 54px;
    display: block;
    text-align: center;
    color: $dark_red;
}

#contacts a {
    text-decoration: none;
}
.fa {
    color: $dark_red;
    margin: 2em;
    transition: 500ms;
}
 
.fa:hover,
.fa:focus {
    color: #f0997e;
}

.btn-outline-dark {
    transition: 500ms;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
    background-color: $primary;
}

footer {
    margin: 0;
}

footer  .red h4 {
    border-radius: 0;
}
