html {
    box-sizing: border-box;
}
body {
    background-color: beige;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
    //font-family: 'Alegreya Sans', sans-serif;
}

#logo {
color: $dark_red;
}
#welcome {
margin-top: 1rem;
margin-right: 8rem;
font-size: 1.8rem;
}

nav {
    background-color: $primary;
    border-radius: 3px;
}
 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: $dark_red;
    text-transform: uppercase;
    text-align: right;
  }

  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    transition: 800ms;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

#navbar a:hover,
#navbar a:focus {
    background-color: #f0997e;
    color: #232323;
}

h1 {
    color: white;
    font-size: 3.5rem;
    }

h2 {
    background-color: $primary;
    color: white;
    padding-left: 10px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.red h4 {
    background-color: $primary;
    color: white;
    border-radius: 3px;
    padding: 2px;
}

.jumbotron {
    padding-top: 8vw;
    padding-right: 1rem;
    padding-bottom: 16vw;
    padding-left: 1rem;
    background-image: url('../img/jumbotron-background5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.jumbotron .transbox {
    margin: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 3px;
}

.jumbotron .transbox h1,
.jumbotron .transbox h4 {
    margin:  5%;
    color: white;
}

.center {
    margin: auto;
}

.light_gray {
    background-color: $light_gray;
    padding: 2rem;
    border-radius: 3px;
}

.light_gray_clr {
    background-color: $light_gray;
}


.my_blue {
    background-color: $my_blue;
    padding: 2rem;
    border-radius: 3px;
}

#my_progress {
    width:  100%;
    padding: 5px;
    background-color: $light_gray;
    border-radius: 3px;
}

.bar {
    width: 0%;
    height: 1.8rem;
    background-color: $my_blue;
    margin-bottom:  5px;
    padding: 5px;
    border-radius: 3px;
    color: rgb(74, 68, 116);
    padding-left: 10px;
}

img {
    border-radius: 3px;
}

imgabout_me   {
  margin-top: 5 rem;
}

#contacts {
    font-size:8 rem;

}

.fa {
    color: black;
    margin: 2rem;
    font-size: 4rem;
  }

.btn-outline-dark {
    transition: 1s;
}
.btn-outline-dark:hover {
    background-color: $primary;
    transition: 800ms;
}

form-control {
    background-color: beige;
}

footer {
    margin: 3rem;
}