html {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
    //font-family: 'Alegreya Sans', sans-serif;
}

#logo {
    padding: 1rem;
}

nav a {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap; /* prevent text wrap in links (about me link)*/
    transition: 800ms;
}
nav a:hover,
nav a:focus {
    background-color: #f0997e;
    color: #232323;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav li {
    flex: 1;
}


nav {
    background-color: $primary;
    border-radius: 3px;
}

h1 {
    color: white;
    font-size: 3.5rem;
    }

h2 {
    background-color: $primary;
    color: white;
    padding-left: 10px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.red h4 {
    background-color: $primary;
    color: white;
    border-radius: 3px;
    padding: 2px;
}

.jumbotron {
    padding-top: 8vw;
    padding-right: 1rem;
    padding-bottom: 16vw;
    padding-left: 1rem;
    background-image: url('../img/jumbotron-background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .transbox {
    margin: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.jumbotron .transbox h1,
.jumbotron .transbox h4 {
    margin:  5%;
    color: white;
}

.center {
    margin: auto;
}

.light_gray {
    background-color: $light_gray;
    padding: 2rem;
    border-radius: 3px;
}

.light_gray_card {
    background-color: $light_gray;
    margin: 0;
    padding: 0;
}

#my_progress {
    width:  100%;
    padding: 5px;
    background-color: $light_gray;
    color: $light_gray;
    border-radius: 3px;
}

.bar {
    width: 0%;
    height: 1.8rem;
    background-color: darkblue;
    margin-bottom:  5px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 3px;
}

img {
    border-radius: 3px;
}

img .about_me   {
  margin-top: 5 rem;
}

footer {
    margin: 3rem;
}


